<app-navbar></app-navbar>
<!--<img id="heroimage" src="assets/heroimage.jpg" />-->
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>Hello, world! Full width Hero-unit header</h5>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <md-card>
      <h1>
      {{title}}
    </h1>
    <md-checkbox>Check me!</md-checkbox>
    </md-card>
  </div>
</div>


