.bgimage {
  height:100vh;
  width: 100vw;
  background: url('../../../assets/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  position: relative;
  max-width: 100%;
}
.bgimage h5 {
  color:#d5e589;
  text-shadow:2px 2px #333;
  /*margin-top: 10%;
  margin-left: 10%;
  font-size: 250%;*/
  position: absolute;
  top: 30vh;
  //left: 20vh;
  text-align:center;
  width:100%;
  color:#fff;
  font-size:45px;
  //font-size: 200%;
  //transform: translate(0,-50%);  
}

.bgimage p {
  color:#fff;
  //text-shadow:2px 2px #333;
  //margin-top: 25px;
  //margin-left: 10%;
  //font-size: 120%;
  position: relative;
  text-align:center;
  top: 60vh;
  width:40%;
  background: #23e3ed;
  border-radius: 25px;
  //width: auto;
  margin: auto;
  display: block;
  /*margin-left: 20vw;
  margin-right: 20vw; */
  padding: 15px;
}

.btn-appeal {
  size: 20px;
}
/*
.info-box {
  position: relative;
  background: black !important;
  width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}*/
